/* All elements */
* {
    margin:0;
    padding:0;
}

body {
    text-align:center;
}

#main {
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:800px;
}

/******************************************************************************/
/* Header                                                                     */
/******************************************************************************/
#header {
    height:150px;
    margin-top:20px;
}

#header-text  {
    margin-left:210px;
    margin-top:30px;
}

/******************************************************************************/
/* Navigation bar                                                             */
/******************************************************************************/
#nav {
    text-align:right;
}

#nav li {
    display:inline;
}

/******************************************************************************/
/* Sidebar                                                                    */
/******************************************************************************/
#sidebar {
    float:left;
    width:180px;
}

#sidebar ul li ul li, #sidebar ul li p {
    padding-left:10px;
}

#sidebar h2 {
    padding-top:10px;
}

#content {
    float:right;
    width:600px;
}

/******************************************************************************/
/* Content                                                                    */
/******************************************************************************/
#content {
    margin-top:10px;
    margin-bottom:10px;
}

#content * li, #content * ul, #content * ol {
    margin-left:20px;
}

.information, .warning, .error, .top {
    padding-left:20px;
}
/******************************************************************************/
/* Posts                                                                      */
/******************************************************************************/
.post {
    margin-top:10px;
}

.post .post-date {
    width:48px;
    height:48px;
    float:left;
    text-align:center;
}

.post .post-title {
    float:left;
    width:545px;
}

.post .post-infos, .post .post-title {
    padding-left:5px;
}

.post .post-infos, .post .post-entry {
    clear:both;
}

.post .tags, .post .add-comment, .post .comments {
    float:right;
    padding-left:20px;
    margin-right:5px;
}

.post .post-entry, .post .post-more {
    padding:10px;
}
/******************************************************************************/
/* Comments                                                                   */
/******************************************************************************/
#comments h3 {
    margin-top:10px;
    padding-left:20px;
}

#comments .gravatar, #comments .comment-infos {
    float:left;
}

#comments .comment-title {
    height:50px;
}

#comments .comment-infos {
    margin-left:5px;
}

#comments .comment-body {
    clear:both;
}

#comments .comment-even, #comments .comment-odd {
    margin-top:5px;
    border-width:1px;
}

#comment-form {
    margin-top:10px;
}

form .labels, form .inputs, #comment-form .comment-format, #comment-form .comment-captcha {
    float:left;
    margin-top:10px;
    padding-right:10px;
}

#comment-form .comment-format {
    width:250px;
}

form .labels label {
    width:200px;
    display:block;
    height:20px;
}

form .submit {
    clear:both;
    padding-top:10px;
    text-align:center;
}

#comment-form .comment-body {
    clear:both;
}

textarea {
    width:98%;
}

/******************************************************************************/
/* Footer / Credits                                                           */
/******************************************************************************/
#footer {
    clear:both;    
}

#credits {
    text-align:center;
}

#credits li {
    display:inline;
}

form p {
    margin:5px;
}
fieldset {
    border:none;
}
